<div class="container mt-8">
  <h2>My Garage</h2>

  <% @favourites.each do |favourite| %>
    <p>
      <%= favourite.car.brand %> <%= favourite.car.model %> |
      <%= link_to 'Delete', favourite_path(favourite),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>
