<div class="navbar mt-6">
  <div class= "logo">
  <%= image_tag 'garage_logo.png' %>
    Awesome Garage</div>
  <div class= "navbar_links">
    <%= link_to 'Home', cars_path %>
    <%= link_to 'My Garage', favourites_path %>
  </div>

</div>
