<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/27703376/pexels-photo-27703376/free-photo-of-white-cars-in-garage.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1> Awesome garage</h1>
    <h6>Your personal <strong>Garage</strong> with the <strong>Cars</strong> of your dreams </h6>
    <%= link_to 'Enter', cars_path, class: 'btn'%>
  </div>
</div>
