.navbar {
  background-color: rgb(75, 73, 73);
  padding: 5px 20px;
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  img {
    width: 80px;
    border-radius: 40%;
    padding-right: 20px;
  }
  .logo{
    color: white;
    font-weight: bolder;
    font-size: large;
  }
  .navbar_links {
    display: flex;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(240, 237, 237);
    &:hover {
      color: #f0decf
    }
  }
}
